
*{
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

*:not(.fa){
	font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
}

@media screen and (max-width: 1000px){
	.header{
		width: auto;
	}
}

@media screen and (min-width: 1000px){
	.header{
		min-width: 1000px;
	}
}

.header{
	height: auto;
	background-color: #333;
	padding-top: 100px;
	padding-bottom: 100px;
}

.header i.fa{
	margin-right: 20px;
}

.header>h1,
.header>h2,
.header>h3{
	display: block;
	width: 100%;
	text-align: center;
}

.header>h1{
	color: #fff;
	font-size: 36px;
	font-style: italic;
	margin-bottom: 30px;
}

@media screen and (max-width: 1000px){
	.header>h2{
		font-size: 22px;
	}

	.header>h3{
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px){
	.header>h2{
		font-size: 28px;
	}

	.header>h3{
		color: #ddd;
		font-size: 24px;
	}
}


.header>h2{
	color: #ddd;
	margin-bottom: 10px;
}

.header>h3{
	color: #ddd;
}

@media screen and (max-width: 1000px){
	.main{
		width: auto;
	}
}

@media screen and (min-width: 1000px){
	.main{
		width: 1000px;
	}
}

.main{
	height: auto;
	margin: auto;
	padding: 50px;
}

.main>h2{
	width: 100%;
	padding-left: 60px;
	color: #000;
	font-size: 28px;
	line-height: 50px;
	display: block;
	position: relative;
	font-style: italic;
}

.main>h2>i{
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	left: -25px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #333;
	color: #fff;
}

.contentContainer{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-left: 1px dashed #333;
	padding-left: 60px;
}

.education,
.skill,
.project{
	margin-bottom: 30px;
	
	position: relative;
}
.education::before,
.skill::before,
.project::before{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: -70px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	background-color: #333;
	color: #fff;
}

.education{
	counter-increment: education;
}
.education::before{
	content: counter(education);
}

.education>h3{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.education>h3>span{
	margin-right: 10px;
}

.education>h3>span.institution{
	font-size: 24px;
	color: #000;
}
.education>h3>span.degree{
	font-size: 22px;
	color: #666;
}

.education>p{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
	color: #000;
}

.education>p>span{
	margin-right: 5px;
}

.skill{
	counter-increment: skill;
}
.skill::before{
	content: counter(skill);
}

.skill>p{
	display: block;
	width: 100%;
	font-size: 18px;
	color: #000;
}

.project{
	counter-increment: project;
}
.project::before{
	content: counter(project);
}

.project>h3{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	font-size: 24px;
	color: #000;
}

.project>h3>span{
	margin-right: 10px;
}

.project>p{
	display: block;
	width: 100%;
}

.project>p.position,
.project>p.time{
	font-size: 20px;
	color: #666;
	margin-bottom: 15px;
}

.project>p>span{
	margin-right: 10px;
}

.project>p.description{
	font-size: 18px;
	color: #000;
	line-height: 30px;
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
	.footer{
		display: none;
	}
}

@media screen and (min-width: 1000px){
	.footer{
		width: 1000px;
	}
}


.footer{
	margin: auto;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px dashed #000;
}

.footer>p{
	display: block;
	text-align: center;
	font-size: 18px;
	color: #000;
	margin-bottom: 10px;
}

.footer>p>a{
	color: #000;
	opacity: 0.75;
}

.footer>p>a:hover{
	opacity: 0.9;
}
